.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading,
.loading-resposta-jogo {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.menu-container
{
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    background-color: #660e7f;
    padding-top: 10px;
}

.menu-container .navbar-default
{
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 10px;
}

.menu-container .navbar-header .navbar-brand
{
    padding-top: 0px;
}

.menu-container .navbar-header .navbar-brand > img
{
    height: 50px;
}

.menu-container .navbar-default .navbar-nav > li > a
{
    color: #fff;
}

.menu-container .fa-stack
{
    margin-top: -5px;
}

.menu-container .fa-stack .fa-stack-2x
{
    color: #fff;
}

.menu-container .fa-stack .fa-stack-1x
{
    color: #660e7f;
}

.titulo-home
{
    font-size: 10rem;
    font-weight: bolder;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    line-height: 1;
    -webkit-transition: all 0.750s ease-in-out;
    -moz-transition: all 0.750s ease-in-out;
    -o-transition: all 0.750s ease-in-out;
    transition: all 0.750s ease-in-out;
    display: block;
    z-index: 2;
    position: absolute;
    margin-top: -20%;
}

.titulo-home h1
{
    color: #f4b200;
    font-size: 10rem;
    font-weight: bold;
    margin-top: 0;
}

a.ir-para-conteudo
{
    color: #f4b200;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 60px;
}

a.ir-para-conteudo i.fa
{
    margin-top: 10px;
}

.lista-servicos .servicos .servico .titulo
{
    font-family: 'Baloo Bhaina', cursive;
    font-size: 3.5rem;
    color: #58167D;
    line-height: 55px;
    letter-spacing: 10px;
    margin-top: 30px;
}

.lista-servicos .servicos .servico img
{
    height: 320px;
}

/*.lista-servicos .servicos .servico .tipo-servico
{
    font-family: 'Baloo Bhaina', cursive;
    letter-spacing: 5px;
    color: gray;
    font-size: 1.3rem;
}*/

.lista-servicos .servicos .servico .descricao-servico
{
    font-size: 1.2rem;
    font-family: 'Signika Negative', sans-serif;
    color: #616161;
    padding-top: 0;
    width: 50%;
}


.lista-servicos .owl-controle.prev
{
    cursor: not-allowed;
}


.lista-servicos .owl-controle,
.lista-servicos .owl-controle:focus
{
    background-color: transparent;
    border: none;
    outline: none;
}

.lista-servicos .owl-carousel .owl-item img
{
    width: auto;
}

.trabalhe-conosco .titulo-trabalhe-conosco
{
    font-size: 6rem;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    line-height: 60px;
}

input[type="file"]
{
    padding: 8px;
    border-left: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    margin-right: 0px;
    width: 100%;
    color: #bbb;
    background-color: white;
    border-bottom-left-radius: 2px;
}

.trabalhe-conosco .link-form
{
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    top: 170px;
}

.trabalhe-conosco .link-form a
{
    color: #f4b200;
    text-decoration: none;
    cursor: pointer;
}

.form-curriculo
{
    margin-top: 10%;
}

.trabalhe-conosco .titulo-form-trabalhe-conosco
{
    font-size: 6rem;
    color: #E5B300;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    line-height: 60px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.59);
}

.trabalhe-conosco .form-trabalhe-conosco .form-curriculo .form-control,
.contato .form-contato .form-control,
.trabalhe-conosco .file-input-wrapper
{
    border-top: none;
    border-left: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-radius: 2px;
    border-right: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 100%;
    text-align: left;
}

.trabalhe-conosco .form-trabalhe-conosco .enviar-curriculo,
.contato .form-contato .enviar-mensagem,
.diretores .ver-colaboradores
{
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    color: #58167D;
    max-width: none;
}

.diretores .titulo-diretores
{
    font-size: 4rem;
    color: #58167D;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 0px;
}

.img-diretor {
    height: 170px;
    margin-bottom: 10px;
}

.diretores .diretor .nome
{
    color: #58167D;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

.diretores .diretor .descricao
{
    font-size: 1.3rem;
    font-family: 'Signika Negative', sans-serif;
}

.lista-clientes
{
    background: linear-gradient(90deg, #660e7f 50%, white 50%);
}
.lista-clientes .titulo-clientes
{
    left: 8.2%;
}

.lista-clientes .titulo-clientes .titulo
{
    left: 140px;
}

.lista-clientes .titulo-clientes .titulo p
{
    font-size: 6rem;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    line-height: 60px;
    text-align: right;
}

.lista-clientes .logo-zero img
{
    height: 261px;
    float: right;
}
.lista-clientes .clientes
{
    top: 80px;
    left: 50px;
}

.lista-clientes .owl-clientes .cliente
{
    height: 120px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.contato .titulo-contato
{
    font-size: 7rem;
    color: #58167D;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.contato .dados-zero
{
    margin-top: 50px;
}

.contato .dados-zero .endereco,
.contato .dados-zero .contato
{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Baloo Bhaina', cursive;
    color: #6d6d6d;
    border-left: 2px solid #58167d;
}

.contato .dados-zero .contato
{
    color: #58167d;
}

.contato ::-webkit-input-placeholder
{
    color: #6d6d6d;
    font-family: 'Baloo Bhaina', cursive;
}
.contato ::-moz-placeholder
{
    color: #6d6d6d;
    font-family: 'Baloo Bhaina', cursive;
}
.contato :-ms-input-placeholder
{
    color: #6d6d6d;
    font-family: 'Baloo Bhaina', cursive;
}
.contato :-moz-placeholder
{
    color: #6d6d6d;
    font-family: 'Baloo Bhaina', cursive;
}

.contato input[type='text']
{
    font-family: 'Baloo Bhaina', cursive;
}

.localizacao
{
    background-color: #660e7f;
}

.localizacao .mapa
{
    height:420px;
}

.localizacao .fp-tableCell
{
    vertical-align: baseline;
}

.localizacao .footer
{
    height: 220px;
    padding-top: 60px;
    font-family: 'Signika Negative', sans-serif;
}

.localizacao .footer img
{
    height: 65px;
}

.localizacao .footer .mapa-site,
.localizacao .footer .mapa-site a
{
    color: white;
}

.localizacao .footer .direitos-singulo
{
    padding-left: 100px;
}

.localizacao .footer .direitos-singulo img
{
    height: 25px;
    margin-left: 60px;
    margin-top: 17px;
}

.localizacao .footer .direitos-singulo p
{
    font-size: 1rem;
    color: white;
    margin-top: 35px;
    margin-left: 25px;
}

.colaboradores .colaborador
{
    padding: 0;
    display: table;
}

.colaboradores .colaborador .view
{
    width: 100%;
    height: auto !important;
    float: none;
    border: none;
    position: initial;
    text-align: center;
    margin: 0;
}

.colaboradores .colaborador .view-tenth img
{
    width: 100%;
    height: auto !important;
}

.colaboradores .colaborador .view-tenth .mask
{
    width: 100%;
    height: 100%;
    background-color: #660e7f;
}

.colaboradores .colaborador .view-tenth h2,
.colaboradores .colaborador .view-tenth p
{
    color: #E5B300;
    font-family: 'Signika Negative', sans-serif;
    text-transform: uppercase;
}

.colaboradores .colaborador .view-tenth p
{
    font-size: 1.8rem;
}

.colaboradores .colaborador .view-tenth h2
{
    border-bottom: 1px solid #E5B300;
    margin-top: 35px;
    font-size: 1.4rem;
}

@media(min-width:1367px) and (max-width: 1920px)
{

    .trabalhe-conosco .titulo-trabalhe-conosco
    {
        font-size: 8rem;
        line-height: 85px;
    }

    .titulo-diretores
    {
        font-size: 6rem;
        line-height: 64px;
    }

    .lista-diretores
    {
        margin-top: 90px;
    }

    .diretores .ver-colaboradores
    {
        margin-top: 90px;
    }
}