.menu-icon-wrapper svg path
{
    stroke: #f4b200;
}
.menu-icon-wrapper
{
    position: fixed;
    z-index: 2;
    right: 10%;
}

.titulo-home.move-down
{
    margin-top: 33%;
    transform: translate3d(0, 0, 0);
}

.sobre .sobre-zero
{
    text-align: justify;
    border-top: 2px solid #8e8e8e;
    padding-top: 45px;
    font-size: 1.3rem;
}

.lista-servicos .owl-controle,
.lista-servicos .owl-controle:focus
{
    margin-top: 155%;
    height: 40px;
}

.lista-servicos .owl-controle.prev
{
    cursor: not-allowed;
}

.lista-servicos .owl-controle.next
{
    cursor: pointer;
}

.trabalhe-conosco .form-trabalhe-conosco .enviar-curriculo:hover,
.trabalhe-conosco .form-trabalhe-conosco .enviar-curriculo:active,
.trabalhe-conosco .form-trabalhe-conosco .enviar-curriculo:focus,
.contato .form-contato .enviar-mensagem:active,
.contato .form-contato .enviar-mensagem:hover,
.contato .form-contato .enviar-mensagem:focus,
.diretores .ver-colaboradores:active,
.diretores .ver-colaboradores:hover,
.diretores .ver-colaboradores:focus
{
    background-color: #660e7f;
}


@media(min-width:1367px) and (max-width: 1920px)
{
    .titulo-home {
        margin-top: -25%;
        font-size: 16rem;
    }

    .titulo-home.move-down {
        margin-top: 15%;
    }

    .menu-icon-wrapper {
        right: 16%;
    }

    .menu-nav .img-container,
    .menu-nav ul {
        right: 20%
    }
}

@media (min-width: 1920px)
{
    .titulo-home.move-down {
        margin-top: 25%;
    }
}