.glitch,
.glitch:after,
.glitch:before
{
    font-family: 'Signika Negative', sans-serif;
    color: #f6a500;
    background: #fff;
}

.glitch
{
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
    font-weight: 600;
}

@keyframes noise-anim {
    0% {
        clip: rect(17px, 9999px, 40px, 0);
    }
    5% {
        clip: rect(74px, 9999px, 74px, 0);
    }
    10% {
        clip: rect(74px, 9999px, 95px, 0);
    }
    15% {
        clip: rect(19px, 9999px, 99px, 0);
    }
    20% {
        clip: rect(38px, 9999px, 12px, 0);
    }
    25% {
        clip: rect(33px, 9999px, 68px, 0);
    }
    30% {
        clip: rect(31px, 9999px, 10px, 0);
    }
    35% {
        clip: rect(8px, 9999px, 62px, 0);
    }
    40% {
        clip: rect(42px, 9999px, 78px, 0);
    }
    45% {
        clip: rect(60px, 9999px, 87px, 0);
    }
    50% {
        clip: rect(74px, 9999px, 48px, 0);
    }
    55% {
        clip: rect(24px, 9999px, 13px, 0);
    }
    60% {
        clip: rect(60px, 9999px, 29px, 0);
    }
    65% {
        clip: rect(89px, 9999px, 64px, 0);
    }
    70% {
        clip: rect(94px, 9999px, 34px, 0);
    }
    75% {
        clip: rect(81px, 9999px, 37px, 0);
    }
    80% {
        clip: rect(42px, 9999px, 66px, 0);
    }
    85% {
        clip: rect(100px, 9999px, 92px, 0);
    }
    90% {
        clip: rect(52px, 9999px, 65px, 0);
    }
    95% {
        clip: rect(18px, 9999px, 92px, 0);
    }
    100% {
        clip: rect(76px, 9999px, 48px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
    font-weight: 500;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(71px, 9999px, 92px, 0);
    }
    5% {
        clip: rect(81px, 9999px, 68px, 0);
    }
    10% {
        clip: rect(60px, 9999px, 99px, 0);
    }
    15% {
        clip: rect(14px, 9999px, 92px, 0);
    }
    20% {
        clip: rect(95px, 9999px, 5px, 0);
    }
    25% {
        clip: rect(62px, 9999px, 91px, 0);
    }
    30% {
        clip: rect(34px, 9999px, 87px, 0);
    }
    35% {
        clip: rect(6px, 9999px, 54px, 0);
    }
    40% {
        clip: rect(94px, 9999px, 90px, 0);
    }
    45% {
        clip: rect(4px, 9999px, 56px, 0);
    }
    50% {
        clip: rect(77px, 9999px, 16px, 0);
    }
    55% {
        clip: rect(5px, 9999px, 28px, 0);
    }
    60% {
        clip: rect(63px, 9999px, 7px, 0);
    }
    65% {
        clip: rect(93px, 9999px, 56px, 0);
    }
    70% {
        clip: rect(95px, 9999px, 94px, 0);
    }
    75% {
        clip: rect(57px, 9999px, 16px, 0);
    }
    80% {
        clip: rect(78px, 9999px, 75px, 0);
    }
    85% {
        clip: rect(72px, 9999px, 24px, 0);
    }
    90% {
        clip: rect(89px, 9999px, 89px, 0);
    }
    95% {
        clip: rect(5px, 9999px, 26px, 0);
    }
    100% {
        clip: rect(4px, 9999px, 88px, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #f6a500;
    background: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
    font-weight: 500;
}
