/*Menu*/
.home .menu
{
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
}

.home .menu > .navbar-default,
.home .menu > .navbar-default .navbar-toggle
{
    background-color: transparent;
    border: none;
}

.home .menu > .navbar-default .navbar-toggle .icon-bar {
    background-color: #f4b200;
}

.home .menu > .navbar-default .navbar-toggle .icon-bar
{
    height: 3px;
}

.home .menu > .navbar-default .navbar-brand
{
    padding-top: 0;
}

.home .menu > .navbar-default img
{
    height: 30px;
    margin-top: 10px;
}

.home .menu > .navbar-default .navbar-collapse
{
    border-top:none ;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.home .menu > .navbar-default .navbar-collapse .nav.navbar-nav
{
    list-style: none;
    font-size: 12px;
    padding: 6px 25px 7px 10px;
    background-color: #f3f3f3;
    position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
}

.home .titulo-home
{
    font-size: 7rem;
}
/*--*/

/*Sobre*/

.sobre
{
    border-bottom: 1px solid rgba(187, 187, 187, 0.28);
}

/*Soluções*/

.lista-servicos
{
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid rgba(187, 187, 187, 0.28);
}

.lista-servicos .servicos .servico .titulo
{
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-top: 0;
    line-height: 1.42857143;
}

.lista-servicos .servicos .servico img
{
    height: 150px;
}

.owl-controles-next
{
    right: 0;
}

.owl-controles-prev
{
    left: 0;
}

.owl-controles-next,
.owl-controles-prev {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
}

.lista-servicos .owl-controle img
{
    height: 40px;
}

.lista-servicos .servicos .servico .descricao-servico
{
     width: auto;
}
/*--*/

/*Trabalhe conosco*/


.trabalhe-conosco
{
    border-bottom: 1px solid rgba(187, 187, 187, 0.28);
}

.trabalhe-conosco .titulo-trabalhe-conosco
{
    font-size: 4.5rem;
    line-height: 55px;
    margin-top: 55px;
}

.trabalhe-conosco .link-form
{
    top: 0;
}

.trabalhe-conosco .link-form img
{
    height: 30px;
}

.trabalhe-conosco .titulo-form-trabalhe-conosco
{
    font-size: 2.5rem;
    line-height: 35px;
    text-shadow: none;
}

.trabalhe-conosco .form-trabalhe-conosco .enviar-curriculo,
button.enviar-mensagem
{
    border: 1px solid gray;
    width: 100%;
    margin-right: 0;
}

button.enviar-mensagem
{
    margin-left: 0px;
}

/*--*/

/*Diretores*/

.diretores
{
    border-bottom: 1px solid rgba(187, 187, 187, 0.28);
}

.diretores .titulo-diretores
{
    font-size: 3rem;
    line-height: 37px;
}
.diretores .img-diretor
{
    height: 150px;
    width: auto!important;
}

.diretores .owl-controle.prev
{
    cursor: not-allowed;
}

.diretores  .owl-controle,
.diretores  .owl-controle:focus
{
    background-color: transparent;
    border: none;
    outline: none;
}

.diretores  .owl-controle img
{
    height: 40px;
}

.diretores .owl-controles-next,
.diretores .owl-controles-prev
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

/*Clientes*/

.lista-clientes
{
    background: #fff;
    border-bottom: 1px solid rgba(187, 187, 187, 0.28);
}

.lista-clientes .titulo
{
    font-family: 'Signika Negative', sans-serif;
    font-size: 4.3rem;
    line-height: 45px;
    font-weight: 700;
    color: #58167D;
}

.lista-clientes .owl-clientes
{
    margin-top: 20px;
}

.lista-clientes .owl-clientes .cliente img
{
    height: 100px;
    width: auto;
}

/*Contato*/

.contato .titulo-contato
{
    font-size: 3rem;
    line-height: 35px;
    margin-top: 5px;
    margin-bottom: 0;
}

/*Footer*/

.localizacao
{
    background-color: #660e7f;
}

.localizacao .footer .mapa-site,
.localizacao .footer .mapa-site a
{
    margin-top: 30px;
    line-height: 30px;
}

.localizacao .footer .direitos-singulo
{
    padding-left: 15px;
}

.localizacao .footer .direitos-singulo img
{
    height: 35px;
    margin-left: auto;
    margin-top: 20px;
}