.numero-pergunta
{
    padding: 0px 55px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-size: 12rem;
    margin-top: 23px;
    color: white;
    font-style: italic;
}

.impar .numero-pergunta
{
    border: 4px solid #9862ce;
}

.par .numero-pergunta
{
    border: 4px solid #ffc524;
}

.impar .texto-pergunta
{
    color: #9862ce;
}

.par .texto-pergunta
{
    color: #ffc524;
}

.texto-pergunta
{
    font-size: 4.5rem;
    margin-top: 10px;
    font-weight: 700;
    margin-left: 20px;
    font-style: italic;
    font-family: 'Signika Negative', sans-serif;
}

.pergunta,
.resultado,
.inicio
{
    position: fixed!important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.impar
{
    background-color: rebeccapurple;
}

.par
{
    background-color:#da9f00 ;
}


.pergunta .container
{
    padding-top: 10%;
    padding-left: 9%;
}

.opcao-resposta
{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    margin-left: 25px;
    font-family: 'Signika Negative', sans-serif;
}

.steps.clearfix
{
    display: none;
}

.actions
{
    display: none;
}

.inicio,
.resultado
{
    background-position: center;
    background-size:cover;
}

.inicio .btn,
.inicio .btn-default:active:hover
{
    font-size: 4rem;
    background-color: transparent;
    border: 2px solid #f7b401;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    border-radius: 6px;
    margin-top: 42%;
}

.inicio .pergunta
{
    text-align: center;
}

.texto-pequeno
{
    margin-top: 42px;
}


@media (min-width:320px) and (max-width:768px)  {

    .inicio .btn,
    .inicio .btn-default:active:hover
    {
        position: absolute;
        bottom: 55px;
        left: 55px;
    }

    .nemero-pergunta
    {
        font-size: 63px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 97px;
    }

    .texto-pergunta
    {
        font-size: 25px;
    }
}